.asg55 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1e1e2f !important;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.container-asg55 {
  display: flex;
  flex-direction: column;
  background-color: #333;
  box-shadow: 0px 0px 20px #111;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
  gap: 20px;
  min-width: 800px;
}

.textarea-asg55 {
  height: 180px;
  resize: none;
  font-size: 15px;
  padding: 15px;
  background-color: #FFFFFF12;
  border-radius: 10px;
  color: #FFFA;
  border: 1px solid #FFF4;
}

.keyboard-asg55 {
  display: flex;
  flex-direction: column;
  border: 1px solid #FFF2;
  border-radius: 10px;
  gap: 3px;
  padding: 3px;
}

.keyboard-row-asg55 {
  display: flex;
  gap: 3px;
  flex: 1;
  /* ensures row stretches evenly */
}

.keyboard-key-asg55 {
  flex: 1;
  /* take equal space by default */
  height: 50px;
  border: 1px solid #FFF2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #FFF6;
  transition: all 0.1s;
  min-width: 35px;
  /* prevent from shrinking too much */
}

.keyboard-key-asg55.active {
  background-color: #FFF3;
  border: 1px solid #FFF6;
  color: #FFFE;
}

.space {
  flex: 1;
  /* makes spacebar wide */
}

[data-key="Backspace"] {
  flex: 2;
}

[data-key="Tab"] {
  flex: 1.5;
}

[data-key="|"] {
  flex: 1.3;
}

[data-key="CapsLock"] {
  flex: 2;
}

[data-key="Enter"] {
  flex: 2;
}

[data-key="Shift"] {
  flex: 2.5;
}

.space {
  flex: 6;
  /* big spacebar */
}

[data-key="Control"],
[data-key="Alt"] {
  flex: 1.2;
}