.asg32-body{
    overflow: hidden;
    margin: 0px;
    position: absolute;
}

.asg32-container {
    position: relative;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    width: 400px;
    height: 500px;
    background-color: #504e4e;
    box-shadow: 0px 0px 20px #000000;;
    
    border-radius: 15px;
}

.asg32-items{
    padding: 10px 20px;
    margin: 20px;
    cursor: grab;
    border-radius: 12px;
    border: 1px solid #FFF6;
    transition: opacity 0.1s;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    font-weight: 600;
    color: #FFF;
    opacity: 0.85;
}

.asg32-items:hover {
    opacity: 1;
    transform: scale(1.02);
}

.asg32-items:active {
    cursor: grabbing;
    opacity: 0.7;
}