.body {
  margin: 0;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(53, 49, 49);
  position: relative;
  cursor: default;
}

.draggable {
  width: 200px;
  height: 200px;
  background-color: brown;
  top: 0px;
  left: 10px;
  border-radius: 20px;
  cursor: grab;
  box-shadow: 5px 05px 10px rgb(0, 0,0, 0.3 );
  position: absolute;
}