.asg44 {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100vh;
  aspect-ratio: 4/3;
  background-image: url('./blade-hit-demo-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.score {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: bold;
  color: white;
  z-index: 3;
}

.target-base {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 2;
}

.knife-hit {
  position: absolute;
  width: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
  background-image: url('./blade-hit-demo-knife.png');
  background-size: contain;
  z-index: 3;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  background-image: url('./blade-hit-demo-target.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: 4; /* ensure target is above knife-hit */
}

.knife {
  position: absolute;
  width: 40px;
  height: 120px;
  background-image: url('./blade-hit-demo-knife.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}