.asg37 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1e1e2f !important;
  overflow: auto;
}

.picture-box {
  width: 600px;
  height: 450px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  gap: 30px;
  /* cursor: none; */
}

.range-selection {
  width: 600px;
  height: 5px;
  appearance: auto;
  cursor: default;
  color: light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
  padding: initial;
  border: initial;
  margin: 2px;
  flex-grow: 1;
}

.picture-frame {
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.hover-frame {
    border: 2px solid #0000ff;
    background-color: rgba(255, 0, 0, 0.1);
}

.selected-area {
    border: 2px solid #0000ff;
    background-color: transparent;
    z-index: 5;
}

.captured-frame {
    border: 2px solid #ff0000;
    background-color: transparent;
    z-index: 10;
}

.placed-frame {
    background-color: transparent;
    z-index: 7;
}
