.asg58 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1e1e2f !important;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.container-asg58 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: #333;
  box-shadow: 0px 0px 20px #111;
  border-radius: 10px;
  overflow: hidden;
}

.editor-asg58 {
  width: 750px;
  height: 560px;
  display: flex;
}

.listing-asg58 {
  width: 120px;
  overflow-y: auto;
}

.listing-asg58-item {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 8px;
  border-radius: 6px;
  cursor: pointer;
  color: #FFFA;
}

.listing-asg58-item-add {
  background-color: #0002;
  background-image: url(./scripts/slide-show-editor-add.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px auto;
}

.slide-asg58 {
  flex-grow: 1;
  margin: 8px 8px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.background-asg58 {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.background-item-asg58 {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #0008;
  cursor: pointer;
}

.animations-asg58 {
  display: flex;
  gap: 6px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.animation-item-asg58 {
  height: 20px;
  border-radius: 20px;
  border: 2px solid #0008;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  padding: 0px 10px;
  font-weight: 600;
}

.start-asg58 {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-image: url(./scripts/slide-show-editor-start.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px auto;
  background-color: #FFF2;
}

.delete-asg58 {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-image: url(./scripts/slide-show-editor-delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-color: #FFF2;
}
